* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo";
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  /* medium */
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules */
header {
  /* background-color: #f2f2f2; */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #333;
}

.img {
  width: 100%;
}

.title {
  padding: 15px 0px;
  background-color: #193452;
  border-style: solid;
  border-width: 2px;
  border-color: #193452;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.title-h1 {
  color: #FAB010;
  font-family: 'Cairo';
  font-size: 40px;
  font-weight: bold;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

section h2 {
  color: #333;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery img {
  width: 30%;
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.content-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}

.content-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: #66ca2c;
  border-radius: 4px;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  transition: var(--main-transition);
}

.content-link:hover {
  background-color: #193452;
  color: white;
}